*{
margin:0%;
padding: 0%;
}
.el1,.el1p,.el2,.el5,.el6,.el7{
    border:1px solid rgb(104, 228, 222);
    height: 100vh;
    background-color: black;
}
.el0{
    background-color:rgb(64, 228, 228);
    color:whitesmoke;
    padding:10px;
    display: flex;
    width: 100%;
    height: 8%;
    justify-content:space-between;
    position:fixed;
    
}
.nav0{
    display: fixed;
    font-family: 'Times New Roman', Times, serif;
    padding: -1%;
    font-weight: bold;
    margin-left: 7%;
    font-size: 50%;
}
.nav {
    font-size:20%;
    gap: 20px;   
    padding:0.8%;
    margin-right: 7%;
    display: fixed;
}
.el1{
    background-image:url("Yoga2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height: 90vh;
    background-attachment:fixed;
    display: fixed;   
}
.p{
    font-size: 119px;
    text-transform: uppercase;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left:67%;
    font-weight: bold;
    line-height:70px;
    margin-top: 160px;
    
}   
.q{
    margin-left: 66%;
    font-size: 119px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    line-height:63px;
   
}
.p1{
    margin-left: 62%;
    font-size: 119px;
    text-transform: uppercase;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    line-height:70px;
    display: fixed;
    font-weight: bold;
}
.h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left:65%;
    position: grid;
    display: flex;
    font-size: 225%;
}

/* Form Section */
.el2{
    background-color:rgb(64, 228, 228);
    display: flex;
    width: 100%;
    padding: 0.1%;
    height: 3%;
    justify-content:space-between;

}
.matter{
    margin-left: 7%;
    font-family: Arial, sans-serif;
    font-size:14px;
    padding-top: 9px;
    font-weight:bold;
    color: white;
}
.form{
    padding: 1%;
    padding-top: 9px;
    display: flex;
    gap: 1em;
}
.form-control{
    background-color: transparent;
    color: white;
    padding-top: 9px;
    border: 2px solid;
    border-radius: 0%;
}
.el2 .btn-primary {
    background: #000000;
    border-radius: 0;
    box-shadow: none;
    border: 2px solid black;
    transition: all 0.4s;
}
.el2 .btn-primary:hover {
    background-color: white;
    color: #55cbd2;
    border-color: #9CDEE2;
}
.el2 .btn-primary:focus {
    outline: none;
 
}
/*3rd section*/
.el3{
    background-color:rgb(197, 255, 241);
    height: 88vh;
    padding-top: 9%;
    color: rgb(0, 90, 94);

}
.el3a{
    font-size: 130px; 
    font-family: 'Kreon',serif; text-transform: uppercase; 
    font-weight: 700; margin: 0; padding: 0; 
    line-height: 80%;
    letter-spacing: -4px;
    margin-left: 6%;
    color: rgb(0, 90, 94);
}
.para{
 margin-left:6%;
 font-size: 15.4px;
 font-family: 'times-new roman',serif;
}
/*flex-section*/
.el4 {
    background: #FFFFFF;
}
.inner {
    padding-top:100px;
    padding-bottom:100px;
}
p {
    line-height: 21px;
    margin-bottom: 25px;
    font-size: 90%;
    font-weight: 490;
}
.span {
    float: left;
    font-size: 100px;
    line-height: 80px;
    font-family: 'Kreon',serif;
    font-weight: 700;
    margin-right: 2%;
}

/*card-section*/
*,*:after, *:before {
    box-sizing: border-box;
}
.grid {
    display: grid;
    display: inline;
    width:50%;
    overflow: hidden;
    margin: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    margin: -0.135em;
    width: 33.333%;
    height: 60vh;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    float: left;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 15.25px;  
}
.grid figure figcaption,
.grid figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* For some effects it will show as a button */
.grid figure a {
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 100%;
}

.grid figure h2 span {
    font-weight: 300%;
}
.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
figure.effect-lily img {
    width: 50%;
    opacity: 0.7;
}

figure.effect-lily figcaption {
    top: auto;
    bottom: 0;
    height: 50%;
    text-align: left;
}

figure.effect-lily p {
    color: rgba(255,255,255,0.6);
    opacity: 0;
}

/*---------------*/
/***** Roxy *****/
/*---------------*/

figure.effect-roxy {
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
}

figure.effect-roxy img {
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);

}

figure.effect-roxy figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
    opacity: 0;

}

figure.effect-roxy figcaption {
    padding: 3em;
    text-align: left;
}

figure.effect-roxy h2 {
    padding: 30% 0 10px 0;
}

figure.effect-roxy p {
    opacity: 0;
}

figure.effect-roxy:hover img {
    opacity: 0.7;
}

figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p {
    opacity: 1;
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
    background: #55cbd2;
}

figure.effect-bubba img {
    opacity: 0.7;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
figure.effect-bubba h2 {
    padding-top: 30%;
}

figure.effect-bubba p {
    padding: 20px 2.5em;
    opacity: 0;
}
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;

}

/***** Layla *****/
figure.effect-layla {
    background: #18a367;
}
figure.effect-layla img {
    min-width: 100%;
    height: -webkit-calc(100% + 40px);
    height: calc(100% + 40px);
}
figure.effect-layla figcaption {
    padding: 3em;
}
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
}
figure.effect-layla figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

figure.effect-layla figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

figure.effect-layla h2 {
    padding-top: 26%;
}

figure.effect-layla p {
    padding: 0.5em 2em;
    text-transform: none;
    opacity: 0;
}
figure.effect-layla:hover img {
    opacity: 0.7;
}
figure.effect-layla:hover figcaption::before,figure.effect-layla:hover figcaption::after {
    opacity: 1;
}
/***** Honey *****/
figure.effect-honey {
    background: #4a3753;
}
figure.effect-honey img {
    opacity: 0.9;
}
figure.effect-honey:hover img {
    opacity: 0.5;
}
figure.effect-honey figcaption::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #fff;
    content: '';
}
figure.effect-honey h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em 1.5em;
    width: 100%;
    text-align: left;
}
figure.effect-honey h2 i {
    font-style: normal;
    opacity: 0;
}
/***** Oscar *****/
figure.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.effect-oscar figcaption {
    padding: 3em;
    background-color: rgba(58,52,42,0.7);
}
figure.effect-oscar figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
}
figure.effect-oscar h2 {
    margin: 20% 0 10px 0;
}
figure.effect-oscar figcaption::before,figure.effect-oscar p {
    opacity: 0;
}
figure.effect-oscar:hover figcaption {
    background-color: rgba(58,52,42,0);
}
figure.effect-oscar:hover img {
    opacity: 0.4;
}


/***** Zoe *****/
figure.effect-zoe figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 3.75em;
    background: #fff;
    color: #3c4a50;
}
figure.effect-zoe h2 {
    float: left;
}
figure.effect-zoe figcaption > span {
    float: right;
}
figure.effect-zoe p {
    position: absolute;
    bottom: 8em;
    padding: 2em;
    color: #fff;
    text-transform: none;
    font-size: 90%;
    opacity: 0;
}
figure.effect-zoe figcaption > span::before {
    display: inline-block;
    padding: 8px 10px;
}
figure.effect-zoe h2 {
    display: inline-block;
}
figure.effect-zoe:hover p {
    opacity: 1;
}
/* ========================================================================
cards
========================================================================== */

.blog .left .news > img, .blog .right .news > img{
    width: 40%;
}
.blog .right .news > img {
    float: left;
    margin-right: 15px;
}
.blog .left .news > img {
    float: right;
    margin-left: 15px;
}
.blog .left .news {
    text-align: right;
    padding-right: 40px;
}
.blog .right .news {
    padding-left: 40px;
}
.row.blog {
    background-repeat: repeat-y;
    background-position: center top;
}
.news h3 {
    font-family: 'Kreon',serif;
    font-size: 20px;
    color: #55cbd2;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 18px;
}
.news .fold-link {
    background: #55cbd2;
    color: white;
    font-family: 'Pacifico', serif;
    padding: 2px 5px;
}
.news {
    margin-bottom: 50px;
}
.news p {
    margin-bottom: 20px;
}
/* ==========================================================================
 footer 
========================================================================== */
.dark-wrapper {
    background: #55cbd2;
    color:white;
    font-size: 15px;
    font-weight:bold;
}
.themeBy{
    color: #55cbd2;
    background: white;
}
footer ul {
    margin: 0;
    list-style: none;
}
footer ul li a {
    color: white;
    transition: all 0.4s;
}
.icon{
    font-size: 200%;
    gap:1em;
}
/*--media--*/

@media (max-width:450px) {
    .el0{
        width:100%;
        position: sticky;
    }
    .nav0{
        margin-left: 10%;
    }
    .el1{
        background-image: cover;
    }
    .el1.form-section{
        margin-right: 5%;
    }
    .nav{
        gap: 3em;
    }
    .p1{
        font-size: 90px;
        margin-left:30%;
    }
    .p{
        font-size: 90px;
        margin-left:40%;
    }
    .q{
        font-size: 90px;
        margin-left:37%;
    }
    .h1{
        font-size: 33px;
        margin-left:27%;
    }
    .el2{
        flex-direction: column;
    }
    .matter{
        font-size: 80%;
    }
    .form{
        flex-direction: column;
        margin-left: 6%;
        width:180%;
    }
    .el3a{
        font-size:88px;
    }
    .para{
        font-size:13px;   
    }
    .span{
        flex-direction:column;
    }
    .btn-primary{
        width:8%;
        margin-left: 42%;
    }
    .blog .left .news > img, .blog .right .news > img {
        float: none;
        width: 100%;
        margin-left: 0;
    }
    .news h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .news {
        text-align: left !important;
        padding: 0px !important;
    }
    .row.blog {
        background: none;
    }
    .mb10{
        margin-bottom: 10px;
    }
    .section-title {
        font-size: 36px;
    }
    footer ul {
        padding-left: 0;
        margin-top: 20px;
        border-top: 1px solid;
        padding-top: 10px;
        border-bottom: 1px solid;
        padding-bottom: 10px;
    }
    .dark-wrapper{
     margin-top: 10%;
    }
}